@font-face {
    font-family: 'Color Basic';
    src: url('ColorBasic-Regular.woff2') format('woff2'),
        url('ColorBasic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spaceboy';
    src: url('Spaceboy.woff2') format('woff2'),
        url('Spaceboy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karmatic Arcade';
    src: url('KarmaticArcade.woff2') format('woff2'),
        url('KarmaticArcade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blox (BRK)';
    src: url('BloxBRK.woff2') format('woff2'),
        url('BloxBRK.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

