.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.portfolio-centered{
  text-align: center;
}

.portfolio-item{
  width: 19.8%;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 1px;
}
div.he-view{
  background-color: #00b3fe;
  background-color: rgba(0,179,254,.9);
}
div.he-view > .bg{
  background-color: transparent;
    height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  min-width: 190px;
  min-height: 164px;
}
.step{
    font-size: 32px;
    margin: 5px;
}
.tpl6 a.dmbutton {
    margin: 10px 5px 10px 5px;
}
.icon{
  font-size: 3em;
}
.skills-wrap{

}
.row.space-under{
  margin-bottom: 60px;
}
.row.space-under > div{
  margin-bottom: 30px;
}
.skills-list{
  display: inline-block;
}
.skills-list h4{
    font-size: 1.6em;
  text-decoration: underline;
}
.skills-list ul{
  margin: 0;
  margin-left: 20px;
  list-style: square;
  font-size: 1.2em;
}
.skills-list ul li{
    text-transform: lowercase;
}
.portfolio-centered.mt{
  margin-bottom: 50px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (max-width: 1024px) {
  .portfolio-item{
    width: 33%;
    display: inline-block;
  }
}
@media screen and (max-width: 820px) {
  .portfolio-item{
    width: 49.3%;
    display: inline-block;
  }
}
@media screen and (max-width: 620px) {
  .portfolio-item{
    width: 100%;
    display: inline-block;
  }
}
