<script id="inside-content" type="text/x-handlebars-template">
	<ul class="centercontent">
	{{#each people}}<li class="contentContainer">
    	<div class="project-imgcontainer"><img src-file="{{ficheiro}}"></div>
    	<div class="project-name">{{name}}</div>
    	<div class="project-tag">{{tag}}</div>
    </li>{{/each}}
    </ul>
</script>


<!-- <div class="contentContainer">
    	<div class="project-imgcontainer"><img src-file="{{ficheiro}}"></div>
    	<div class="project-name">{{name}}</div>
    	<div class="project-tag">{{tag}}</div>
    </div>
 -->