body {
  background: #fafafa;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



.wrapper{
  text-align: center;
  display: inline-block;
  position: relative;
}

#gameid{
  width: 600px;
  height: 400px;
  position: relative;
  color: #000000;
}

.about-me{
  display: block;
  text-align: center;
}
#menuView{
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: opacity .6s; /* Safari */
  transition: opacity .6s;
}
#menuView ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#menuView ul li{
  margin-top: 10px;
}

#betView{
  display: inline-block;
  position: absolute;
  z-index: 10;
  width: 560px;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: opacity .6s; /* Safari */
  transition: opacity .6s;
}

#instructionsView{
  display: inline-block;
  position: absolute;
  z-index: 10;
  width: 560px;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: opacity .6s; /* Safari */
  transition: opacity .6s;
}

#instructionsView ul{
  
  margin: 10px;
  padding: 0;
  text-align: left;
}
#instructionsView ul li{
  margin-top: 10px;
}
#gamecanvas{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #008000;
  display: inline-block;
}

#contentsources{
  text-align: left;
}

.hide{
  opacity: 0;
  visibility: hidden;
}
.show{
  opacity: 0;
}
